<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#" (click)="onSelect('home')">Home</a>
        <a class="nav-link" href="#"  (click)="onSelect('experience')">Experience</a>
        <a class="nav-link" href="#"  (click)="onSelect('skills')">Skills</a>
        <a class="nav-link" href="#"  (click)="onSelect('projects')">Projects</a>
      </div>
    </div>
  </div>
</nav>
